<div class="content">
    <div class="container-fluid">
        <div class="card card-plain">
            <!--<div class="card-header text-center" data-background-color="blue">-->
            <!--<h4 class="title">TOP LEVER</h4>-->
            <!--</div>-->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card card-nav-tabs" style="background-color:#EEEEEE;box-shadow: none">
                        <div class="card-header" data-background-color="orange">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="active top-game" data-source="gowin">
                                            <a href="#profile" data-toggle="tab">
                                                <i class="material-icons">cloud</i>Gowin
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="top-game" data-source="vzon">
                                            <a href="#profile" data-toggle="tab">
                                                <i class="material-icons">cloud</i>VZON
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="profile">
                                    <div class="col-sm-12">
                                        <div class="card-content">
                                            <div class="row">
                                                <br>
                                                <div class="card card-profile">
                                                    <div class="card-avatar">
                                                        <img class="img" src="lib/assets/img/badge_4.png">
                                                    </div>
                                                    <br>
                                                    <div class="card-content">
                                                        <div class="row" id="lever-4"></div>

                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="card-content">
                                            <div class="row">
                                                <br>
                                                <div class="card card-profile">
                                                    <div class="card-avatar">
                                                        <img class="img" src="lib/assets/img/badge_5.png">
                                                    </div>
                                                    <br>
                                                    <div class="card-content">
                                                        <div class="row" id="lever-5">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="card-content">
                                            <div class="row">
                                                <br>
                                                <div class="card card-profile">
                                                    <div class="card-avatar">
                                                        <img class="img" src="lib/assets/img/badge_6.png">
                                                    </div>
                                                    <br>
                                                    <div class="card-content">
                                                        <div class="row" id="lever-6">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="card-content">
                                            <div class="row">
                                                <br>
                                                <div class="card card-profile">
                                                    <div class="card-avatar">
                                                        <img class="img" src="lib/assets/img/Level-07.png">
                                                    </div>
                                                    <br>
                                                    <div class="card-content">
                                                        <div class="row" id="lever-7">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="card-content">
                                            <div class="row">
                                                <br>
                                                <div class="card card-profile">
                                                    <div class="card-avatar">
                                                        <img class="img" src="lib/assets/img/Level-08.png">
                                                    </div>
                                                    <br>
                                                    <div class="card-content">
                                                        <div class="row" id="lever-8">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="card-content">
                                            <div class="row">
                                                <br>
                                                <div class="card card-profile">
                                                    <div class="card-avatar">
                                                        <img class="img" src="lib/assets/img/Level-09.png">
                                                    </div>
                                                    <br>
                                                    <div class="card-content">
                                                        <div class="row" id="lever-9">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="card-content">
                                            <div class="row">
                                                <br>
                                                <div class="card card-profile">
                                                    <div class="card-avatar">
                                                        <img class="img" src="lib/assets/img/Level-10.png">
                                                    </div>
                                                    <br>
                                                    <div class="card-content">
                                                        <div class="row" id="lever-10">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="card-content">
                                            <div class="row">
                                                <br>
                                                <div class="card card-profile">
                                                    <div class="card-avatar">
                                                        <img class="img" src="lib/assets/img/Level-11.png">
                                                    </div>
                                                    <br>
                                                    <div class="card-content">
                                                        <div class="row" id="lever-11">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="card-content">
                                            <div class="row">
                                                <br>
                                                <div class="card card-profile">
                                                    <div class="card-avatar">
                                                        <img class="img" src="lib/assets/img/Level-12.png">
                                                    </div>
                                                    <br>
                                                    <div class="card-content">
                                                        <div class="row" id="lever-12">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="card-content">
                                            <div class="row">
                                                <br>
                                                <div class="card card-profile">
                                                    <div class="card-avatar">
                                                        <img class="img" src="lib/assets/img/Level-13.png">
                                                    </div>
                                                    <br>
                                                    <div class="card-content">
                                                        <div class="row" id="lever-13">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="card-content">
                                            <div class="row">
                                                <br>
                                                <div class="card card-profile">
                                                    <div class="card-avatar">
                                                        <img class="img" src="lib/assets/img/Level-14.png">
                                                    </div>
                                                    <br>
                                                    <div class="card-content">
                                                        <div class="row" id="lever-14">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="card-content">
                                            <div class="row">
                                                <br>
                                                <div class="card card-profile">
                                                    <div class="card-avatar">
                                                        <img class="img" src="lib/assets/img/Level-15.png">
                                                    </div>
                                                    <br>
                                                    <div class="card-content">
                                                        <div class="row" id="lever-15">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="messages">

                                </div>
                                <div class="tab-pane" id="settings">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="lib/gettopdice.js"></script>