
<div class="content">
      <div class="container-fluid">
        <div class="card card-plain">
          <!--<div class="card-header text-center" data-background-color="blue">-->
            <!--<h4 class="title">TOP LEVER</h4>-->
          <!--</div>-->
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="card card-nav-tabs" style="background-color:#EEEEEE;box-shadow: none">
                <div class="card-header" data-background-color="orange">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active top-game" data-source="gameduathu">
                          <a href="#profile" data-toggle="tab">
                            <i class="material-icons">cloud</i>Gowin
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="">
                          <a href="#messages" data-toggle="tab">
                            <i class="material-icons">cloud</i>
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="">
                          <a href="#settings" data-toggle="tab">
                            <i class="material-icons">cloud</i>
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-content">
                  <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                      <div class="col-sm-12">
                        <div class="card-content">
                          <div class="row">
                            <br>
                            <div class="card card-profile">
                              <div class="card-avatar">
                                <img class="img" src="lib/assets/img/badge_4.png">
                              </div>
                              <br>
                              <div class="card-content">
                                <div class="row" id="lever-4"></div>

                              </div>
                            </div>
                          </div>
                          <br>
                          <br>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="card-content">
                          <div class="row">
                            <br>
                            <div class="card card-profile">
                              <div class="card-avatar">
                                <img class="img" src="lib/assets/img/badge_5.png">
                              </div>
                              <br>
                              <div class="card-content">
                                <div class="row" id="lever-5">
                                </div>
                              </div>
                            </div>
                          </div>
                          <br>
                          <br>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="card-content">
                          <div class="row">
                            <br>
                            <div class="card card-profile">
                              <div class="card-avatar">
                                <img class="img" src="lib/assets/img/badge_6.png">
                              </div>
                              <br>
                              <div class="card-content">
                                <div class="row" id="lever-6">
                                </div>
                              </div>
                            </div>
                          </div>
                          <br>
                          <br>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="messages">

                    </div>
                    <div class="tab-pane" id="settings">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<script src="lib/gettopdice.js"></script>
<script>
    var is_get = false;
    function fetchData(data) {
        if (data.IsMaintainance) {
            console.log("Bao Tri");
            return;
        }
        if (data.countdown > 0) {
            console.log(data);
            console.log("exit");
            return;
        }
        else if (parseFloat(data.countdown) === 0 && parseFloat(data.scountdown) > 0 && is_get===false) {
            is_get = true;
            console.log("insert db");
            console.log(data.result);
            return;
        }
        else if (parseFloat(data.countdown) === 0 && parseFloat(data.scountdown) === 0 && parseFloat(data.scountdown_delay) === 0 && is_get) {
            //SET NEW ID;
            is_get = false;
            console.log(data.diceId);
            return;
        }
    }

    var inter = setInterval(function () {
        $.ajax({
            type: 'GET',
            dataType: 'text',
            url: 'http://api.go.win/api/dice/countdown',
            beforeSend: function () {

            },
            success: function (result) {

                fetchData(JSON.parse(result));
            },
            complete: function () {

            }
        }).always(function () {
        });
    },2000);
</script>